.header{
    height: 100px;
    border-bottom: 1px solid #ff6700;
}
.headercontent{
    width: 1226px;
    height: 48px;
    padding-top:26px;
    line-height: 48px;
    margin: 0 auto;
}

h1{
    width: 48px;
    height: 48px;
    background: url('http://192.168.31.3:18089/mall_config/logo.jpg') no-repeat center center;
    background-size: 100% 100%;
}
.header .title{
    height: 100%;
    font-size: 26px;
    color: #333;
    padding-left: 45px;
}
.header .to_indent{
    height: 100%;
    width: 54px;
    text-align: center;
    font-size: 12px;
    color: #757575;
}
.header .user_name_box{
    height: 100%;
    width: 82px;
    text-align: right;
    font-size: 12px;
    padding-right: 38px;
    background: url(../img/more_unfold.png) no-repeat 90px 19px;
    background-size: 20px 12px;
    color: #757575;
    position: relative;
}
.header .user_name_box:hover{
    color: #ff6700;
    background: url(../img/more_unfold2.png) no-repeat 90px 19px;
    background-size: 20px 12px;
}
.header .user_name_box:hover .user_name_b{
    display: block;
}
.header .user_name_b{
    background: #fff;
    width: 120px;
    position: absolute;
    left: 0;
    top: 48px;
    display: none;
}
.header .user_name_b a{
    display: block;
    width: 120px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    color: #757575;
}
.header .user_name_b a:hover{
    color: #ff6700;
}
.footer {
    width: 100%;
    height: 438px;
    background: #fff;
}

.footer .fuwu {
    width: 100%;
    height: 79px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 40px;
}

.footer .fuwu ul {
    width: 1226px;
    height: 25px;
    padding: 27px 0;
    margin: 0 auto;
}

.footer .fuwu ul li {
    width: 20%;
    height: 25px;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    font-size: 15px;
    line-height: 25px;
    color: #616161;
    text-align: center;
    cursor: pointer;
}

.footer .fuwu ul li:hover {
    color: #ff6700;
}

.footer .fuwu ul li:last-child {
    border-right: none;
}

.footer .fuwu_det {
    width: 1226px;
    height: 112px;
    margin: 0 auto 40px;
}

.footer .fuwu_det_item {
    width: 80%;
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    height: 100%;
}

.footer .fuwu_det_i {
    width: 160px;
    height: 100%;
}

.footer .fuwu_det_i p {
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    padding-bottom: 30px;
    color: #424242;
    cursor: pointer;
}

.footer .fuwu_det_i li {
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    padding-bottom: 16px;
    color: #757575;
    cursor: pointer;
}

.footer .fuwu_det_i li:hover {
    color: #ff6700;
}

.footer .fuwu_det_i li:last-child {
    padding-bottom: 0;
}

.footer .fuwu_det_tel {
    width: 20%;
    height: 100%;
}

.footer .fuwu_det_num {
    height: 20px;
    line-height: 20px;
    color: #ff6700;
    text-align: center;
    font-size: 16px;
}

.footer .fuwu_det_time {
    height: 18px;
    line-height: 18px;
    color: #616161;
    text-align: center;
    font-size: 14px;
}

.footer .fuwu_det_btn {
    height: 30px;
    width: 120px;
    box-sizing: border-box;
    border: 1px solid #ff6700;
    line-height: 28px;
    color: #ff6700;
    text-align: center;
    font-size: 12px;
    margin: 15px auto;
    cursor: pointer;

}

.footer .fuwu_det_btn:hover {
    background: #ff6700;
    color: #fff;

}

.footer .bottom {
    width: 1226px;
    height: 57px;
    padding: 30px 0;
    margin: 0 auto;
}

.footer .logo_b {
    width: 57px;
    height: 57px;
    background: url(../img/mi-logo.png) no-repeat center center #ff6700;
}

.footer .bottom_text {
    width: 790px;
    height: 57px;
    padding-left: 10px;
}

.footer .bottom_text ul {
    height: 16px;
    padding: 2px;
    font-size: 16px;
    color: #757575;

}

.footer .bottom_text ul li {
    line-height: 16px;
    float: left;
    padding: 0 5px;
    font-size: 12px;
    border-right: 1px solid #757575;
}

.footer .bottom_text ul li:first-child {
    padding-left: 0;
    border-right: 1px solid #757575;
}

.footer .bottom_text ul li:last-child {
    border-right: none;
}

.footer .bottom_text p {
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #b0b0b0;

}

.footer .bottom_img {
    width: 368px;
}

.footer .bottom_img img {
    width: 80px;
    height: 28px;
    margin-right: 10px;
}

.footer .bottom_img img:last-child {
    margin-right: 0;
}

.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.user-main {
    padding-top: 40px;
    background: #f5f5f5;
}

.row {
    margin-left: -14px;
    _margin-left: 0;
}

.right-box {
    width: 1226px;
}

.uc-box {
    padding: 36px 0;
    background: #fff;
}

.uc-content-box {
    margin: 0 48px;
}

.uc-content-box .box-hd .title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

.user-address-list {
    padding-top: 30px;
}

.user-address-list .address-item {
    float: left;
    margin-right: 17px;
    margin-bottom: 20px;
}

.address-item-new {
    text-align: center;
    color: #b0b0b0;
}

.address-item {
    width: 263px;
    height: 178px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    position: relative;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.user-address-list .active{
    border: 1px solid #ff6700;
}

.address-item .add {
    color: #fff;
    background: #e0e0e0;
    width: 30px;
    height: 30px;
    margin: 50px auto 30px auto;
    font-size: 27px;
    border-radius: 50%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.address-item p {
    font-size: 14px;
}

.address-item-new:hover {
    border: 1px solid #757575;
}

.address-item:hover .add {
    background: #757575;
}
.box-list{
    background: #fff;
    padding-bottom: 40px;
}
.box-list ul{
    width: 1131px;
    margin: 0 auto;
}
.box-list ul li{
    height: 90px;
    border-bottom: 1px solid #e0e0e0;
    line-height: 90px;
}
.box-list ul li .left{
    width: 152px;
}
.box-list ul li .right{
    color:#ff6700;
    font-size: 14px;
}
.box-list ul li .right .tittle{
    color: #333;
    line-height: 25px;
}
.box-list ul li .right .fp{
    color: #757575;
    line-height: 25px;
}
.box-list ul li .right .fp .what{
    color:#ff6700;
}
.box-list .right .select a{
    color: #333333;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    margin-right: 10px;
    width: 230px;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
}
.box-list ul li .right input{
    color: #333333;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    margin-right: 10px;
    width: 476px;
    height: 40px;
    display:block;
    line-height: 40px;
}
.box-list ul li .right .active{
    color: #ff6700;
    border: 1px solid #ff6700;
}
.address-item:hover p {
    color: #757575;
}
.indent_box{
    width: 1130px;
    padding: 0 48px;
    background: #fff;
    margin: 0 auto;
}
.indent_box .title{
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
}
.indent_box .title span{
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    color: #b0b0b0;
}
.indent_box .indent{
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #424242;
    padding: 16px 0;
    border-bottom: 1px solid #e0e0e0;
}
.indent_box .indent img{
    width: 28px;
    height: 28px;
}

.indent_box .indent .indent_name{
    padding-left: 20px;
}
.indent_box .indent ul{
    width: 360px;
    height: 28px;
    text-align: center;
}
.indent_box .indent ul li{
    width: 120px;
    height: 28px;
    float: left;
}
.indent_box .indent ul .indent_pri{
    color: #ff6700;
}
.indent_box .inventory{
    padding-top: 36px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.indent_box .inventory li{
    height: 28px;
    line-height: 28px;
    text-align: right;
    color: #757575;
    font-size: 12px;
}
.indent_box .inventory li span{
    display: inline-block;
    height: 28px;
    width: 80px;
    color: #ff6700;
}
.indent_box .inventory .inventory_count{
    padding-top: 10px;
    height: 28px;
    line-height: 100%;
    text-align: right;
    color: #757575;
    font-size: 12px;
}
.indent_box .inventory .inventory_count span{
    display: inline-block;
    height: 28px;
    width: 80px;
    font-size: 20px;
    color: #ff6700;
}
.indent_box .inventory .inventory_count span em{
    font-size: 12px;
    font-style: normal;
}
.indent_box .btn_box{
    padding-top: 20px;
}
.indent_box .btn_box .delivery_text{
    height: 100%;
}
.indent_box .btn_box .delivery_text p{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #424242;
}
.indent_box .btn_box .delivery_text p span{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #ff6700;
    padding-left: 20px;
    cursor: pointer;
}
.indent_box .btn_box .btn{
    width: 160px;
    height: 40px;
    color: #fff;
    background: #ff6700;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
}
.container_l{
    width: 100%;
    background: #f5f5f5;
}

.shade {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 443;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.modal {
    position: fixed;
    top: 12%;
    left: 50%;
    margin-left: -330px;
    z-index: 450;
    width: 660px;
    display: none;
}

.modal-header, .modal-hd {
    position: relative;
    height: 32px;
    line-height: 32px;
    padding: 14px 20px;
    background-color: #f5f5f5;
}

.modal-header h3, .modal-header .title, .modal-hd h3, .modal-hd .title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #424242;
}

.modal-header .close {
    position: absolute;
    right: 10px;
    top: 14px;
    height: 32px;
    width: 32px;
    background: url("../img/close.png") no-repeat;
    background-size: 32px;
}

.modal-body {
    padding: 40px 40px 0 40px;
    height: 280px;
    max-height: none;
    background: #fff;
}

.modal-body input, .modal-body textarea {
    height: 18px;
    padding: 10px 16px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 18px;
    outline: none;
    margin: 6px;
}

.modal-body textarea {
    width: 508px;
    height: 36px;
    resize: none;
}

.modal-footer {
    height: 40px;
    padding: 20px 0;
    text-align: center;
    background-color: #f5f5f5;
}

.btn {
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.btn-primary {
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}

.btn-gray {
    background: #b0b0b0;
    border-color: #b0b0b0;
    color: #fff;
}

/*��ַ*/
html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html, body {
    height: 100%;
    width: 100%;
}

._citys {
    width: 450px;
    display: inline-block;
    border: 2px solid #eee;
    padding: 5px;
    position: relative;
    background: #fff;
}

._citys span {
    color: #ff6700;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #ff6700;
    cursor: pointer;
}

._citys0 {
    width: 100%;
    height: 34px;
    display: inline-block;
    border-bottom: 2px solid #ff6700;
    padding: 0;
    margin: 0;
}

._citys0 li {
    display: inline-block;
    line-height: 34px;
    font-size: 15px;
    color: #888;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.citySel {
    background-color: #ff6700;
    color: #fff !important;
}

._citys1 {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
}

._citys1 a {
    width: 83px;
    height: 35px;
    display: inline-block;
    background-color: #f5f5f5;
    color: #666;
    margin-left: 6px;
    margin-top: 3px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    overflow: hidden;
}

._citys1 a:hover {
    color: #fff;
    background-color: #ff6700;
}

.AreaS {
    background-color: #ff6700 !important;
    color: #fff !important;
}
.address-item dl {
    padding: 15px 24px 0;
    margin: 0;
}
.address-item dt {
    margin: 0 0 10px;
    line-height: 30px;
}
.address-item .uname {
    font-size: 18px;
    color: #333;
    font-style: normal;
}
.address-item dd {
    margin: 0;
    line-height: 22px;
    color: #757575;
}
.address-item dd {
    margin: 0;
    line-height: 22px;
    color: #757575;
}
.address-item .actions {
    position: absolute;
    right: 24px;
    bottom: 10px;
}
.address-item .modify {
    display: inline-block;
    margin-left: 10px;
    color: #ff6700;
}
