.site-topbar {
	position: relative;
	z-index: 30;
	height: 40px;
	font-size: 12px;
	color: #b0b0b0;
	background: #333;
}

.site-topbar .container {
	width: 1226px;
	margin-right: auto;
	margin-left: auto;
}

.site-topbar .container .topbar-nav {
	float: left;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}

.site-topbar a, .topbar-info a {
	color: #b0b0b0;
	padding: 0 5px;
}

.site-topbar .topbar-cart {
	width: 120px;
	margin-left: 15px;
}

.site-topbar .topbar-cart, .site-topbar .topbar-info {
	position: relative;
	float: right;
	_display: inline;
	height: 40px;
}

.site-topbar .cart-mini {
	position: relative;
	z-index: 32;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #b0b0b0;
	background: #424242;
}

.site-topbar .cart-mini .cart {
	margin-right: 4px;
	font-size: 20px;
	line-height: 20px;
	vertical-align: -4px;
	background: url("../img/cart.png") no-repeat;
	display: inline-block;
	background-size: 20px;
	width: 20px;
	height: 20px;
}

.site-topbar .topbar-info {
	position: relative;
	float: right;
	_display: inline;
	height: 40px;
	line-height: 40px;
}
.topbar-info .info_select{
	position: absolute;
	left: 0;
	top: 40px;
	width: 90px;
	background: #fff;
	display: none;
}
.topbar-info:hover .info_select{
	display: block;
}
.topbar-info .info_select a{
	display: block;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #757575;
	font-size: 12px;
}
.topbar-info .info_select a:hover{
	color: #ff6700;
}
.site-header {
	position: relative;
	z-index: 20;
	height: 100px;
}

.site-header .container {
	position: relative;
	width: 1226px;
	margin-right: auto;
	margin-left: auto;
}

.header-logo {
	float: left;
	width: 62px;
	margin-top: 22px;
}

.header-logo a {
	position: relative;
	display: block;
	width: 55px;
	height: 55px;
	overflow: hidden;
	_zoom: 1;
}

.header-logo a .logo {
	width: 49px;
	height: 49px;
	display: inline-block;
	margin-top: 3px;
	margin-left: 3px;
	background: url(http://192.168.31.3:18089/mall_config/logo.jpg) no-repeat center center;
	background-size: 100% 100%;
}

.site-header .header-nav {
	float: left;
	width: 850px;
}

.site-header .nav-item .link:hover {
	color: #ff6700;
}

.site-header .nav-list {
	position: relative;
	z-index: 10;
	float: left;
	width: 820px;
	height: 88px;
	margin: 0;
	padding: 12px 0 0 30px;
	list-style-type: none;
	font-size: 16px;
}

.site-header .nav-item {
	float: left;
}

.header-nav-menu {
	position: absolute;
	top: 88px;
	left: 0;
	z-index: 40;
	width: 1240px;
	height: 229px;
	border-top: 1px solid #e0e0e0;
	background: #fff;
	margin-left: -101px;
	display: none;
}

.header-nav-menu .container {
	position: relative;
	width: 1226px;
	margin-right: auto;
	margin-left: auto;
}

.site-header .header-nav-menu .children-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 12px;
}

.site-header .header-nav-menu .children-list li {
	position: relative;
	float: left;
	width: 180px;
	padding: 34px 12px 34px;
	text-align: center;
	border-left: 1px solid #e0e0e0;
}

.site-header .header-nav-menu .children-list li a {
	display: block;
}

.site-header .header-nav-menu .children-list li a img {
	width: 160px;
	height: 110px;
	margin: 0 auto 16px;
	text-align: center;
}

.site-header .header-nav-menu .price {
	margin: 0;
	line-height: 20px;
	color: #ff6700;
}

.site-header .nav-item .link {
	display: block;
	padding: 26px 10px 38px;
	color: #333;
}

.site-header .header-search {
	float: right;
	width: 296px;
	margin-top: 25px;
}

.site-header .search-form {
	position: relative;
	width: 296px;
	height: 50px;
}

.site-header .search-text {
	position: absolute;
	top: 0;
	right: 51px;
	z-index: 1;
	width: 223px;
	height: 48px;
	padding: 0 10px;
	border: 1px solid #e0e0e0;
	font-size: 14px;
	line-height: 48px;
	outline: 0;
	-webkit-transition: all .2s;
	transition: all .2s;
	box-sizing: content-box;
}

.site-header .search-btn {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	width: 52px;
	height: 50px;
	border: 1px solid #e0e0e0;
	font-size: 24px;
	line-height: 24px;
	background: #fff;
	color: #616161;
	outline: 0;
	-webkit-transition: all .2s;
	transition: all .2s;
	background: url("../img/search.png") no-repeat center;
	background-size: 20px;
}

.site-header .search-hot-words {
	position: absolute;
	top: 14px;
	right: 62px;
	z-index: 2;
	text-align: right;
}

.site-header .search-hot-words a {
	display: inline-block;
	margin-left: 5px;
	padding: 0 5px;
	font-size: 12px;
	background: #eee;
	color: #757575;
	-webkit-transition: all .2s;
	transition: all .2s;
}
		
		.footer{
			width: 100%;
			height: 438px;
			background:#fff; 
		}
		.footer .fuwu{
			width: 100%;
			height: 79px;
			border-bottom: 1px solid #e0e0e0;
			margin-bottom: 40px;
		}
		.footer .fuwu ul{
			width: 1226px;
			height: 25px;
			padding: 27px 0;
			margin: 0 auto;
		}
		.footer .fuwu ul li{
			width: 20%;
			height: 25px;
			float: left;
			box-sizing: border-box;
			border-right: 1px solid #e0e0e0;
			font-size: 15px;
			line-height: 25px;
			color: #616161;
			text-align: center;
			cursor: pointer;
		}
		.footer .fuwu ul li:hover{
			color: #ff6700;
		}
		.footer .fuwu ul li:last-child{
			border-right: none;
		}
		.footer .fuwu_det{
			width: 1226px;
			height: 112px;
			margin: 0 auto 40px;
		}
		.footer .fuwu_det_item{
			width: 80%;
			box-sizing: border-box;
			border-right: 1px solid #e0e0e0;
			height: 100%;
		}
		.footer .fuwu_det_i{
			width: 160px;
			height: 100%;
		}
		.footer .fuwu_det_i p{
			height: 14px;
			line-height: 14px;
			font-size: 14px;
			padding-bottom: 30px;
			color: #424242;
			cursor: pointer;
		}
		.footer .fuwu_det_i li{
			height: 12px;
			line-height: 12px;
			font-size: 12px;
			padding-bottom: 16px;
			color: #757575;
			cursor: pointer;
		}
		.footer .fuwu_det_i li:hover{
			color: #ff6700;
		}
		.footer .fuwu_det_i li:last-child{
			padding-bottom: 0;
		}
		.footer .fuwu_det_tel{
			width: 20%;
			height: 100%;
		}
		.footer .fuwu_det_num{
			height: 20px;
			line-height: 20px;
			color: #ff6700;
			text-align: center;
			font-size: 16px;
		}
		.footer .fuwu_det_time{
			height: 18px;
			line-height: 18px;
			color: #616161;
			text-align: center;
			font-size: 14px;
		}
		.footer .fuwu_det_btn{
			height: 30px;
			width: 120px;
			box-sizing: border-box;
			border:1px solid #ff6700;
			line-height: 28px;
			color: #ff6700;
			text-align: center;
			font-size: 12px;
			margin: 15px auto;
			cursor: pointer;

		}
		.footer .fuwu_det_btn:hover{
			background: #ff6700;
			color: #fff;
			
		}
		.footer .bottom{
			width: 1226px;
			height: 57px;
			padding: 30px 0;
			margin: 0 auto;
		}
		.footer .logo_b{
			width: 57px;
			height: 57px;
			background: url(../img/mi-logo.png) no-repeat center center #ff6700; 
		}
		.footer .bottom_text{
			width: 790px;
			height: 57px;
			padding-left: 10px;
		}
		.footer .bottom_text ul{
			height: 16px;
			padding: 2px;
			font-size: 16px;
			color: #757575;
			
		}

		.footer .bottom_text ul li{
			line-height: 16px;
			float: left;
			padding:0 5px; 
			font-size: 12px;
			border-right: 1px solid #757575;
		}
		.footer .bottom_text ul li:hover{
			color: #ff6700;
		}
		.footer .bottom_text ul li:first-child{
			padding-left: 0;
			border-right: 1px solid #757575;
		}
		.footer .bottom_text ul li:last-child{
			border-right: none;
		}
		.footer .bottom_text p{
			height: 16px;
			font-size: 12px;
			line-height: 16px;
			color: #b0b0b0;
			
		}
		.footer .bottom_img{
			width: 368px;
		}
		.footer .bottom_img img{
			width: 80px;
			height: 28px;
			margin-right: 10px;
		}
		.footer .bottom_img img:last-child{
			margin-right: 0;
		}
		#conetent_wrapper{
			width: 100%;
			padding-top: 38px;
			background: #f5f5f5;
			padding-bottom: 60px;
		}
		#content{
			width: 1226px;
			margin: 0 auto;
			box-sizing: border-box;
			background: #fff;
			padding: 40px 0;
		}
		.indent_box{
			width: 1000px;
			margin: 0 auto;
			padding-bottom: 75px;
			position: relative;
		}
		.indent_title{
			height: 40px;
		}
		.indent_title p{
			height: 40px;
			font-size: 29px;
			line-height: 40px;
			color: #757575;
		}
		.indent_title span{
			height: 20px;
			padding-top: 20px;
			padding-left: 10px;
			line-height: 100%;
			font-size: 12px;
			color: #757575;
		}
		.indent_num_box{
			height: 50px;
			border-bottom: 1px solid #e0e0e0;
		}
		.indent_num{
			height: 35px;
			padding-top: 15px;
			line-height: 35px;
			color: #333;
			font-size: 14px;
		}
		.pay_box{
			width: 245px;
			height: 30px;
			padding: 10px 0;
		}
		.pay,.cancel{
			height: 28px;
			width:118px;
			line-height: 28px;
			font-size: 12px;
			color: #757575;
			text-align: center;
		}
		.cancel{
			border:1px solid #e0e0e0;
		}
		.pay{
			background: #ff6700;
			color: #fff;
			margin-left: 5px;
		}
		.indent_details{
			width: 938px;
			height: 40px;
			padding: 30px 0 30px;
			position: relative;
		}
		.indent_status{
			height: 16px;
			line-height: 16px;
			color: #ff6700;
			font-size: 16px;
			margin-bottom: 10px;

		}
		.indent_predict{
			height: 12px;
			line-height: 12px;
			color: #ff6700;
			font-size: 12px;
		}
		.progress_bar{
			height: 20px;
			border-radius: 10px;
			background: #eeeeee;
			line-height: 20px;
			font-size: 12px;
			text-align: center;
			color: #333;
			position: relative;
			margin-bottom: 50px;
		}
		.progress_bar li{
			float: left;
			width: 20%;
			position: relative;
			z-index: 2;
		}
		.progress_time{
			position: absolute;
			left: 0;
			top: 30px;
			width: 100%;
			height: 20px;
			line-height: 20px;
			font-size: 12px;
			color: #757575;
		}
		.progress_bar .bar{
			position: absolute;
			left: 0;
			top: 0;
			height: 20px;
			border-radius: 10px;
			background: #83c44e;
			width: 20%;
		}
		.goods_list{
			padding: 10px 0;
		}
		.goods_list li{
			position: relative;
			height: 44px;
		    margin: 10px 0;
		    padding: 18px 18px 28px 100px;
		    line-height: 22px;
		    color: #333;
		    border-bottom: 1px solid #e0e0e0;
		}
.goods_list .figure{
			width: 80px;
			height: 86px;
			position: absolute;
			left: 0;
			top: 0;
		}
		.goods_name,.goods_pric{
			height: 22px;
			line-height: 22px;
			color: #333;
			font-size: 12px;
		}
		.site_box{
			height: 150px;
			padding-top: 20px;
			border-bottom: 1px solid #e0e0e0;
		}
		.site_title{
			height: 57px;
			line-height: 57px;
			font-size: 18px;
			color: #333;
			position: relative;
		}
		.site_modification,.pay_modification{
			position: absolute;
			right: 30px;
			top: 14px;
			height: 28px;
			width: 118px;
			border:1px solid #b0b0b0;
			font-size: 12px;
			line-height: 28px;
			text-align: center;
			color: #757575;
			cursor: pointer;
		}
		.site_box li{
			height: 26px;
			line-height: 26px;
			font-size: 14px;
			color: #757575;
		}
		.billing_information{
			width: 225px;
			height: 145px;
			padding-left:775px;
			padding-top: 29px; 
			position: relative;
		}
		.billing_information li{
			height: 32px;
			line-height: 32px;
			font-size: 12px;
			color: #757575;
			position: relative;
		}
		.billing_information li span{
			height: 32px;
			line-height: 32px;
			font-size: 12px;
			color: #ff6700;
			float: right;
		}
		.practical_money{
			position: absolute;
			left: 775px;
			bottom: 0;
			height: 24px;
			width: 225px;
		}
		.practical_money_text{
			padding-top: 11px;
			height: 12px;
			line-height: 12px;
			font-size: 12px;
			color: #757575;
			float: left;
		}
		.practical_money_num{
			float: right;
			line-height: 24px;
			height: 24px;
			font-size: 24px;
			color: #ff6700;
		}
		.sms_verification_box,.delivery_verification_box{
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.3);
			z-index: 100;
		}
		.sms_verification{
			width:660px;
			height: 460px;
			position: fixed;
			left: 50%;
			top: 50%;
			margin-left: -330px;
			margin-top: -230px;
			background:#fff; 
		}
		.sms_top{
			height: 60px;
			background:#f5f5f5;
			line-height: 60px;
			font-size: 16px;
			color: #333;
			padding-left: 20px; 
			position: relative;
		}
		.sms_top .close{
			width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			font-size: 20px;
			color: #333;
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
		}
		.sms_center{
			height: 270px;
			padding-top: 50px;
			position: relative;
		}
		.sms_center .sms_tetx{
			height: 22px;
			line-height: 22px;
			text-align: center;
			font-size: 12px;
			color: #424242;
		}
		.sms_center .mg_b{
			margin-bottom: 24px;
		}
		.sms_center .tell_box{
			width: 394px;
			height: 200px;
			margin: 0 auto;
		}
		.sms_center .tell_text{
			height: 50px;
			line-height: 50px;
			font-size: 12px;
			color: #757575;
		}
		.sms_center .auth_code{
			width: 208px;
			height: 38px;
			font-size: 12px;
			padding-left: 10px;
			border:1px solid #e0e0e0;
		}
		.sms_center .tell_btn{
			width: 160px;
			height: 40px;
			font-size: 12px;
			text-align: center;
			border:none;
			line-height: 40px;
			color: #fff;
			background: #ff6700;
			outline:none;
			cursor: pointer;
		}
		.sms_bottom{
			height: 80px;
			background: #f5f5f5;
			font-size: 12px;
		}
		.sms_bottom_box{
			width: 338px;
			height: 40px;
			padding-top: 20px;
			margin: 0 auto;
		}
		.sms_bottom_box span{
			width: 160px;
			height: 40px;
			color: #fff;
			text-align: center;
			line-height: 40px;
		}
		.sms_bottom_box .abolish{
			background: #b0b0b0; 
		}
		.sms_bottom_box .ascertain{
			background: #ff6700; 
		}
		.delivery_box{
			width: 598px;
			height: 80px;
			position: absolute;
			left: 50%;
			top:50%;
			margin-top: -40px;
			margin-left: -299px; 
		}
		.delivery_box li{
			width: 188px;
			height: 58px;
			padding-top: 20px;
			color: #333;
			text-align: center;
			border:1px solid #e0e0e0;
			margin-right: 14px;
		}
		.delivery_box li:last-child{
			
			margin-right: 0;
		}
		.delivery_box .active{
			color: #ff6700;
			border:1px solid #ff6700;
		}
		.delivery_box .title{
			height: 18px;
			line-height: 18px;
			font-size: 18px;

		}
		.delivery_box .txt{
			height: 30px;
			line-height: 30px;
			font-size: 12px;
		}